{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
    <div class="alert alert-success alert-dismissible col-md-8 col-md-offset-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
        <p>{% trans "Password successfully changed!" %}</p>
    </div>

{% endblock %}


{# This is used by django.contrib.auth #}