{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="alert alert-success alert-dismissible col-md-8 col-md-offset-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
            <p>
                {% trans "Your password has been reset!" %}
            </p>
        </div>
    </div>

         <div class="row">
         <div class="col-md-8 col-md-offset-2">
             <p >
                {% trans "You may now " %}<a href="{{ login_url }}">{% trans "log in" %}</a>.
            </p>
         </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}