{% extends 'base.html' %}

{% block info %}

    {% if message %}
        <div class="alert alert-success">
           {{ message }}
        </div>
    {% endif %}
    <div class="col-lg-offset-1">
        <h1>About us</h1>
        <br>
        Auction-men is a platform where users can insert auctions about products and services,
        place a bid for one or more of them. <br> When the deadline is reached,
        user that placed the largest bid wins the auction. <br> For authenticated users,
        in any moment it's possible to have an overview of the running auction,
        place a bid and watch the bid history and purchased history of products.
        <br> Users that are not logged in are able to view only recent auction as guests.
    </div>
{% endblock %}