{% extends 'base.html' %}

{% block info %}
    {% if message %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                {{ message }}
        </div>
    {% endif %}
{% endblock %}

{% block error %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                {{ error }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- div to have left categories bar-->
    <div class="col-sm-12">

    {% if category_products %}
        <h1>{{ category.category_name | capfirst}}</h1>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="row row-horizon">
                    {% for item in category_products %}
                        {% include 'product_card.html' with product=item %}
                    {% endfor %}
                </div>
            </div>
        </div>

    {% else %}
         <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                Sorry, no products for this category
        </div>
    {% endif %}

    {% if children_categories %}
        <hr>
        {% for cat_id,children_category_products in children_categories.iteritems %}
            {% if children_category_products %}
                <h3>Category products for <a href="{% url 'bidplacing:show_category' cat_id %}">
                    {{ children_category_products.first.category.category_name }}</a>
                </h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row row-horizon">
                            {% for item in children_category_products %}
                                {% include 'product_card.html' with product=item %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}