{% extends 'base.html' %}

{% block info %}

    {% if message %}
        <div class="alert alert-success">
           {{ message }}
        </div>
    {% endif %}

    <!-- div to have left categories bar-->
    <div class="col-sm-12">
    {% if category_products %}
        <h1>{{ category.category_name | capfirst}}</h1>
        <hr>
        <hr>
        <div class="row">
        {% for item in category_products %}
            {% include 'product_card.html' with product=item %}
        {% endfor %}
        </div>
    {% else %}
        <h1>Sorry, no products for this category</h1>
    {% endif %}

    {% if children_category_products.lenght != 0 %}
        <h1>Children categories</h1>
        <hr>
        {% for cat_id,children_category_products in children_categories.iteritems %}
            {% if children_category_products %}
                <h3>Category products for <a href="{% url 'bidplacing:show_category' cat_id %}">
                    {{ children_category_products.first.category.category_name }}</a></h3>
                <div class="row">
                {% for item in children_category_products %}
                    {% include 'product_card.html' with product=item %}
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}