{% extends 'base.html' %}
{% load tz %}

{% block info %}
    {% if message %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                {{ message }}
        </div>
    {% endif %}
{% endblock %}

{% block error %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                {{ error }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    <!-- div to have left categories bar-->
    <div class="col-md-12">

    	<div class="row">
  		    <div class="col-sm-10"><h1>{{ product.product_name | capfirst }}</h1></div>
  		    <div class="col-sm-10"><h3>Category: <a href="{% url 'bidplacing:show_category' category.id %}">{{ category.category_name }}</a></h3></div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-12">

                <div class="col-md-4">

                    <div class="row ">
                        <div class="col-md-5">
                            <img src="//placehold.it/150x150" class="img"/>
                        </div>
                       <br><br><br>
                        {% if user.is_authenticated and product.get_remaining_time != None%}
                            <div class="col-md-7">
                                {% if user.id == product.seller.id %}
                                    <h3><span class="label label-info">This is yours</span></h3>
                                {% elif user.id == product.get_best_bidder.id %}
                                    <h3><span class="label label-success">You are the best bidder</span></h3>
                                {% else %}
                                    <form method="post" class="form" action="{% url 'bidplacing:place_bid' product.id%}" >
                                    {% csrf_token %}
                                    <div class="input-group pull-right">
                                        <input type="number" class="form-control" placeholder="Amount"
                                               step="0.1" value="{{ product.get_best_bid }}"
                                               min="{{ product.get_best_bid }}" name="amount">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">bid!</button>
                                        </div>
                                    </div>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}

                    </div><br>
                    <h4>Start price : {{ product.start_price }}</h4>
                    <h4>Current price:
                        {% if product.get_best_bid == None %}
                            {{ product.start_price }}
                        {% else %}
                            {{ product.get_best_bid }}
                        {% endif %}
                    </h4>
                    <hr>
                    <h4>Insertion time : {{ product.insertion_time }}</h4>
                    {% if product.get_remaining_time == None %}
                        <h4><strong>Expired</strong></h4>
                        <h4>Purchase time : {{ product.deadline_time }}</h4>
                    {% else %}
                        <h4>Remaining time : </h4>
                        <!-- PORCA LA MADOMPA -->
                        <h4><span id="currentCountdown" class="countdown"></span></h4>
                        <script>
                            var expiringTime = new Date();
                            console.log(expiringTime);
                            expiringTime.setSeconds(expiringTime.getSeconds() + {{ product.get_remaining_time.seconds }});
                            console.log(expiringTime);
                            $('#currentCountdown').countdown({until: expiringTime, format: 'HMS'});
                        </script>
                        {% comment %}
                        <h4>Remaining time : {{ product.get_remaining_time }}</h4>
                        <h4>Deadline time : {{ product.deadline_time }}</h4>
                        {% endcomment %}
                    {% endif %}
                    <hr><hr>
                    <h4>Seller : {{ product.seller | capfirst}}</h4>
                    <h4>{{ product.seller | capfirst}}'s products : {{ seller_products }}</h4>
                    <h4>{{ product.seller | capfirst}}'s bids : {{ seller_bids }}</h4>
                    <h4>{{ product.seller | capfirst}}'s purchases : {{ seller_purchases }}</h4>
                    <hr>
                </div>
                <div class="col-md-8">
                    {% include 'product_bids_history.html' with product_bids=past_bids %}
                </div>

            </div>
        </div><!--/col-row-->

        <hr>
        <div class="row">
            {% if suggested_products %}
                <h1>Bidder who bade for this product also bade for these</h1>
                <hr>
                {% for item in suggested_products|slice:":" %}
                    {% include 'product_card.html' with product=item %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="row">
            <hr>
            {% if same_category_products %}
              <h1>Related product to category <a href="{% url 'bidplacing:show_category' category.id %}">
                  {{ category.category_name }}</a></h1>
              <hr>
              {% for item in same_category_products %}
                 {% include 'product_card.html' with product=item %}
              {% endfor %}
            {% endif %}
        </div>

    </div><!--/col-md-12-->

{% endblock %}