<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6><a class="pull-right" href="">{{ product.category.category_name }}</a></h6>
            <h4><a href="{% url 'bidplacing:show_product' product.id %}">{{ product.product_name }}</a></h4>
        </div>
        <div class="panel-body">
            <img src="//placehold.it/150x150" class="img-circle pull-right">
            <div class="clearfix"></div>
            <hr>
            {% if product.description %}
                <p>{{ product.description }}</p>
            {% else %}
                <p>&nbsp</p>
            {% endif %}
            <hr>
            <form method="post" class="form" action="{% url 'bidplacing:place_bid' product.id%}" >
                {% csrf_token %}
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount"
                           step="0.01" value="{{ product.get_best_bid }}"
                           min="{{ product.get_best_bid }}" name="amount">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">bid!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>