<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% comment %}<h6><a class="pull-right" href="{% url 'bidplacing:show_category' product.category.id %}">{{ product.category.category_name | capfirst}}</a></h6>{% endcomment %}
            <h4><a href="{% url 'bidplacing:show_product' product.id %}">{{ product.product_name | capfirst}}</a></h4>
        </div>
        <div class="panel-body">
            <img src="//placehold.it/150x150" class="img-circle center-block">
            <div class="clearfix"></div>
            <hr>
            {% comment %}
            {% if product.description %}
                <p class="lead">{{ product.description | capfirst }}</p>
            {% else %}
                <p>&nbsp</p>
            {% endif %}
            <hr>
            {% endcomment %}
                <div class="col-md-8">
                    <form method="post" class="form" action="{% url 'bidplacing:place_bid' product.id%}" >
                        {% csrf_token %}
                        <div class="input-group">
                            {% if user.is_authenticated and product.seller.username != user.username %}
                                {% if  user.id == product.get_best_bidder.id %}
                                    <div class="row">
                                        <h4>
                                            <div class="label label-success col-md-offset-1">
                                                You are the best bidder
                                            </div>
                                        </h4>
                                    </div>
                                {% else %}
                                    <input type="number" class="form-control" placeholder="Amount"
                                        step="0.1" value="{{ product.get_best_bid }}"
                                        min="{{ product.get_best_bid }}" name="amount">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">bid!</button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="row">
                    <a href="{% url 'bidplacing:show_product' product.id %}" class="btn btn-primary col-md-offset-1" role="button">Details</a>
                </div>
        </div>
    </div>
</div>