<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <div class="panel panel-default"  style="height: 300px;">
        <div class="panel-heading">
            <h4><a href="{% url 'bidplacing:show_product' product.id %}">{{ product.product_name | capfirst}}</a></h4>
        </div>
        <div class="panel-body" style="height: 60%;">
            <img src="{{ MEDIA_URL }}{{ product.product_picture }}" class="img-circle center-block"/>
            <div class="clearfix"></div>
        </div>
        <div class="panel-footer">

            <div class="input-group">
                <div>
                    <form method="post" class="form" action="{% url 'bidplacing:place_bid' product.id%}" >
                        {% csrf_token %}
                        <div class="input-group">
                            {% if user.is_authenticated and product.seller.username != user.username %}
                                {% if  user.id == product.get_best_bidder.id %}
                                    <div class="row" style="margin-left: 1%">
                                        <h4><div class="label label-success">You are the best bidder</div></h4>
                                    </div>
                                {% else %}
                                    <input type="number" class="form-control" placeholder="Amount"
                                        step="0.01" value="{{ product.get_best_bid }}"
                                        min="{{ product.get_best_bid }}" name="amount">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Bid!</button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </form>
                </div>
                <span class="input-group-btn">
                    <a href="{% url 'bidplacing:show_product' product.id %}" class="btn btn-primary" role="button">Details</a>
                </span>
            </div>
        </div>
    </div>
</div>