{% extends 'base.html' %}
{% load tz %}
{% load staticfiles %}

{{% block info %}
    {% if message %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                {{ message }}
        </div>
    {% endif %}
{% endblock %}

{% block error %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                {{ error }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- div to have left categories bar-->
    <div class="col-md-12">

        <div class="row">
            {% if products_found %}
                <h2>Products related to {{ searched_value }}</h2>
                <hr>
                    <div class="row row-horizon">
                        {% for item in products_found %}
                            {% include 'product_card.html' with product=item%}
                        {% endfor %}
                    </div>
            {% else %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="1">&times;</span></button>
                    No products found matching request
                </div>
            {% endif %}
        </div>

        <div class="row">
            {% if categories_found %}
                <h1>Products found in categories related to {{ searched_value }}</h1>
                <hr>
                {% for category in categories_found %}
                        <h2>Category:  <a href="{% url 'bidplacing:show_category' category.id %}">
                            {{ category.category_name }}</a></h2>
                        <hr>
                        {% for c_id,products in category_products_found.iteritems %}
                            {% if c_id == category.id %}
                                {% for item in products %}
                                  {% include 'product_card.html' with product=item %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                {% endfor %}
            {% endif %}
        </div>
{% endblock %}