{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="../../favicon.ico"> -->

        <title></title>

        {% include 'head_css.html' %}

    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="container">
            {% block content %}

                <!-- category selection bar-->
                <div class="row-fluid">
  		            <div class="col-sm-3"><!--left col-->
                        <!--<div class="btn-group btn-group-justified" role="group" aria-label="...">-->
                        <div class="btn-group-vertical" role="group" aria-label="...">

                            {% for parent_id, top_category_name in top_categories.iteritems %}
<!-- asdfas dfasdf asdf asdf asdf sadf -->
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <a href="/category/{{ parent_id }}">{{ top_category_name }}</a>
                                        <span class="caret"></span>
                                    </button>

                                    {% for f_id, children in category_children_list.iteritems %}
                                        {% if f_id == parent_id %}
                                            <ul class="dropdown-menu">
                                                {% for child in children %}
                                                        <li><a href="/category/{{ child.id }}">{{ child.category_name }}</a></li>
                                                {% endfor %}
                                                </ul>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>



            {% endblock %}

            {% block info %} {% endblock %}

            {% block register %} {% endblock %}

            {% block login %} {% endblock %}

        </div> <!-- /container -->

        {% include 'footer_js.html' %}

    </body>
</html>

