{% extends 'base.html' %}

{% block info %}
    {% if message %}
        <div class="alert alert-success">
           {{ message }}
        </div>
    {% endif %}

    <div>
        <!-- div to have left categories bar-->
        <div class="col-sm-9">
        {% if user.is_authenticated %}
        <!-- expiring products for logged users -->
            {% if expiring_auctions %}
                <h1>Expiring auctions</h1>
                <div class="row">
                {% for expiring_auction in expiring_auctions %}
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">

                      <img src="..." alt="product_image">

                      <div class="caption">
                        <h3>{{ expiring_auction.product_name }}</h3>
                        <p>Max bid placed : {{ expiring_auction.get_best_bid }}</p>
                        <p>Remaining time : {{ expiring_auction.get_remaining_time }}</p>

                          <div class="row">
                              <div class="container-fluid">
                                  <a href="/product/{{ expiring_auction.id }}" class="btn btn-primary" role="button">
                                      View Details</a>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-8">
                                    <input type="number" class="form-control" placeholder="Amount" style="max-width: 150px;"
                                           step="0.01" value="{{ expiring_auction.get_best_bid }}"
                                           min="{{ product.get_best_bid }}">
                              </div>
                              <div class="col-lg-4" >
                                  <button type="submit" class="btn btn-default label-info" style="margin: 0 auto;">Bid!</button>
                              </div>
                          </div>

                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
            {% endif %}
        <!-- add here recommended products -->
        {% endif %}
        <!-- last insertions for all visitors -->
        {% if last_insertions %}
            <h1>Last insertions</h1>
            <div class="row">
            {% for last_insertion in last_insertions %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">

                      <img src="..." alt="product_image">

                      <div class="caption">
                        <h3>{{ last_insertion.product_name }}</h3>
                        <p>Max bid placed : {{ last_insertion.get_best_bid }}</p>
                        <p>Remaining time : {{ last_insertion.get_remaining_time }}</p>

                          <div class="row">
                              <div class="container-fluid">
                                  <a href="/product/{{ expiring_auction.id }}" class="btn btn-primary" role="button">
                                      View Details</a>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-8">
                                    <input type="number" class="form-control" placeholder="Amount" style="max-width: 150px;"
                                           step="0.01" value="{{ last_insertion.get_best_bid }}"
                                           min="{{ last_insertion.get_best_bid }}">
                              </div>
                              <div class="col-lg-4" >
                                  <button type="submit" class="btn btn-default label-info" style="margin: 0 auto;">Bid!</button>
                              </div>
                          </div>

                      </div>
                    </div>
                  </div>

            {% endfor %}
            </div>
        {% endif     %}
        </div>
    </div>
{% endblock %}