
<!--<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>-->
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="{% url 'main_page' %}">auction-men</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Products by <strong>Category</strong><span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for category in top_categories %}
                    <li><a href="{% url 'bidplacing:show_category' category.id %}">{{ category.category_name }}</a></li>
                {% endfor %}
              </ul>
            </li>
              <!-- class="active" (add to specific page requested)-->
            <li><a href="{% url 'bidplacing:purchased_products_page' %}">
                Purchased products</a>
            </li>
            <li><a href="{% url 'bidplacing:top_bids_page' %}">Top bids</a></li>
            <li><a href="{% url 'bidplacing:about_page' %}">About</a></li>
            <li><a href="{% url 'bidplacing:contact_page' %}">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" role="search" action="{% url 'bidplacing:search_page' %}">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Products and more" name="searched_value">
                </div>
                <button type="submit" class="btn btn-default">Search</button>

                 <!--    <div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">Contains</a></li>
                      <li><a href="#its_equal">It's equal</a></li>
                      <li><a href="#greather_than">Greather than ></a></li>
                      <li><a href="#less_than">Less than < </a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</div> -->
              </form>

            {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">

                    <li><a href="/accounts/profile/">Your profile</a></li>
                    <li><a href="{% url 'bidplacing:new_product' %}">Sell new product</a></li>
                    <li><a href="{% url 'bidplacing:selling_page' %}">Selling products</a></li>
                    <li><a href="{% url 'bidplacing:user_purchased_products_page' %}">Your purchases</a></li>
                    {% comment %}
                    <li class="disabled"><a href="#">[Disabled link]</a></li>
                    {% endcomment %}
                    <li role="separator" class="divider"></li>

                    <!--<li class="dropdown-header">[Header second section]</li>-->
                    <!--<li><a href="#">Modify profile</a></li>
                    <li><a href="#">Profile settings</a></li>-->
                    <li><a href="/accounts/password/change/">Change password</a></li>
                    <li><a href="/accounts/logout">Log out</a></li>
                  </ul>
                </li>

            {% else %}
                <li><a href="{% url 'registration_register' %}">register</a></li>
                <li><a href="{% url 'auth_login' %}">login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>