
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main_page' %}">auction-men</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <!-- class="active" (add to specific page requested)-->
            <li><a href="#">Product sold</a></li>
            <li><a href="#">Top bids</a></li>
            <li><a href="/bidplacing/about">About</a></li>
            <li><a href="/bidplacing/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
<!-- asdfasdfasdfasdfasdf -->
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Products and more">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>

            {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">

                    <li><a href="/accounts/profile/">Your profile</a></li>
                    <li><a href="/accounts/password/change/">Change password</a></li>
                    <li><a href="#">[Something else here]</a></li>
                    <li class="disabled"><a href="#">[Disabled link]</a></li>

                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">[Header second section]</li>
                    <li><a href="#">[Separated link]</a></li>
                    <li><a href="/accounts/logout">Log out</a></li>
                  </ul>
                </li>

            {% else %}
                <li><a href="{% url 'registration_register' %}">register</a></li>
                <li><a href="{% url 'auth_login' %}">login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>